<center>
    <h2 style="color:#0099cc">
        <b>
            Analyzing the scraped data from Quera Magnet
        </b>
    </h2>
    <p style="color:#0099cc">Presented by <i>Parsa Abbasi</i> at Quera Data Analysis Bootcamp | <i>January 2023<i></p>
</center>

## Libraries

In [1]:
import numpy as np
import pandas as pd

## Read json file as a <code>DataFrame</code>

In [2]:
data = pd.read_json('quera_magnet.json')

In [3]:
print('Number of jobs:', len(data))

Number of jobs: 223

In [4]:
data.head()

,title,url,date,company,location,level,type,salary,remote,technologies,sub_technologies
0,استخدام Senior Back-end Developer (Python),https://quera.org//magnet/jobs/69rqj,۵ دی ۱۴۰۱،‏ ۹:۲۷,Raika Research,None,Senior,تمام‌وقت,"حقوق ۳۵,۰۰۰,۰۰۰ تا ۴۰,۰۰۰,۰۰۰",امکان دورکاری,"[Python, Django]",[Linux]
1,استخدام Senior Back-end Developer (Django),https://quera.org//magnet/jobs/d6qjv,۵ آذر ۱۴۰۱،‏ ۱۳:۱۹,ویترین,تهران,Senior,تمام‌وقت,"حقوق ۳۰,۰۰۰,۰۰۰ تا ۳۵,۰۰۰,۰۰۰",None,"[Python, Django]",[]
2,استخدام Senior Software Engineer(Django),https://quera.org//magnet/jobs/69xvp,۵ آذر ۱۴۰۱،‏ ۱۳:۱۵,بهترینو,تهران,Senior,تمام‌وقت,"حقوق ۳۰,۰۰۰,۰۰۰ تا ۳۵,۰۰۰,۰۰۰",None,"[Python, Django]",[]
3,استخدام توسعه‌دهنده ارشد Front_end,https://quera.org//magnet/jobs/x6x86,۲۲ آذر ۱۴۰۱،‏ ۲۲:۱۶,Goldis,تهران,Senior,تمام‌وقت,"حقوق ۲۵,۰۰۰,۰۰۰ تا ۳۰,۰۰۰,۰۰۰",None,"[HTML, CSS]","[JavaScript, React, Vue.js]"
4,استخدام تحلیلگر داده,https://quera.org//magnet/jobs/qjgd8,۱۸ آذر ۱۴۰۱،‏ ۲۰:۳۷,اندیشکده مرصاد,قم,Junior,پروژه‌ای,"حقوق ۲۵,۰۰۰,۰۰۰ تا ۳۰,۰۰۰,۰۰۰",امکان دورکاری,[Python],[SQL]

In [5]:
data.tail()

,title,url,date,company,location,level,type,salary,remote,technologies,sub_technologies
218,استخدام برنامه‌نویس Java,https://quera.org//magnet/jobs/69jmp,۱۱ آبان ۱۴۰۱،‏ ۱۵:۰۴,پردازش الکترونیک راشد سامانه,تهران,Senior,تمام‌وقت,None,None,[Java],"[Jira, Scrum]"
219,استخدام برنامه‌نویس Full-Stack وب و ویندوز,https://quera.org//magnet/jobs/d68jv,۱۱ آبان ۱۴۰۱،‏ ۹:۱۸,شركت ايران خودرو,تهران,Junior,تمام‌وقت,None,None,[C#],"[CSS, SQL Server, ASP.NET MVC, Entity Framework]"
220,استخدام برنامه‌نویس (Front-end (Angular (رشت),https://quera.org//magnet/jobs/69jvp,۱۱ آبان ۱۴۰۱،‏ ۹:۱۴,NilaSoft,رشت,Junior,تمام‌وقت,None,امکان دورکاری,[Angular],"[JavaScript, HTML, CSS, TypeScript]"
221,استخدام پشتیبان / توسعه‌دهنده Back-end,https://quera.org//magnet/jobs/76kqd,۱۰ آبان ۱۴۰۱،‏ ۱۴:۳۷,کالاوییو,تهران,Junior,تمام‌وقت,None,None,"[C#, PHP]","[MySQL, ASP.NET]"
222,استخدام توسعه‌دهنده موبایل React Native,https://quera.org//magnet/jobs/x6jm9,۹ آبان ۱۴۰۱،‏ ۱۵:۰۱,شرکت کاروان ایرانیان نواندیش (کاینو),تهران,Junior,تمام‌وقت,None,None,[React Native],"[JavaScript, TypeScript]"

## Checking the <code>NAN</code> values

In [6]:
data.isnull().sum()

title                 0
url                   0
date                  0
company               0
location             52
level                 0
type                  0
salary              185
remote              155
technologies          0
sub_technologies      0
dtype: int64

## Analyzing

### 🏙️ Location

In [7]:
data['location'].value_counts()

تهران       124
اصفهان       22
مشهد          4
رشت           4
گرگان         4
اسلامشهر      3
تبریز         2
یزد           2
شیراز         2
قم            1
ایلام         1
خرم آباد      1
ساری          1
Name: location, dtype: int64

### 🎚️ Level

In [8]:
data['level'].value_counts()

Senior    118
Junior     87
Intern     17
Lead        1
Name: level, dtype: int64

### ⏱️ Type

In [9]:
data['type'].value_counts()

تمام‌وقت    195
پاره‌وقت     20
پروژه‌ای      8
Name: type, dtype: int64

### 🏠 Remote

In [10]:
print(data['remote'].count(), 'out of', len(data), 'jobs support remote work!')

68 out of 223 jobs support remote work!

### 🤖 Technologies

In [11]:
from collections import Counter

all_tech = []
for technologies in data['technologies']:
    all_tech.extend(technologies)
    
Counter(all_tech).most_common(10)

[('React', 30),
 ('JavaScript', 27),
 ('Python', 23),
 ('C#', 21),
 ('Java', 17),
 ('PHP', 15),
 ('Laravel', 11),
 ('Django', 9),
 ('Vue.js', 9),
 ('SQL', 8)]

### 🦾 Sub-technologies

In [12]:
all_sub_tech = []
for sub_technologies in data['sub_technologies']:
    all_sub_tech.extend(sub_technologies)
    
Counter(all_sub_tech).most_common(10)

[('JavaScript', 21),
 ('HTML', 21),
 ('CSS', 21),
 ('Git', 20),
 ('Linux', 19),
 ('MySQL', 19),
 ('SQL', 18),
 ('TypeScript', 12),
 ('Docker', 12),
 ('React', 11)]

### 🦾🤖 Technologies and Sub-technologies

In [13]:
from collections import Counter
together = all_tech + all_sub_tech
Counter(together).most_common(20)

[('JavaScript', 48),
 ('React', 41),
 ('C#', 30),
 ('Python', 26),
 ('SQL', 26),
 ('Linux', 25),
 ('HTML', 24),
 ('CSS', 24),
 ('MySQL', 22),
 ('Git', 21),
 ('Java', 20),
 ('PHP', 19),
 ('Vue.js', 15),
 ('Docker', 15),
 ('Laravel', 14),
 ('TypeScript', 14),
 ('HTML5', 12),
 ('.NET', 12),
 ('SQL Server', 11),
 ('Django', 10)]